@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/*
font-family: "Manrope", sans-serif;
*/

body {
  font-family: "Archivo", serif;
  font-size: var(--font-14);
  background-color: #F8FAFB;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--off-black);
}
a:hover {
  text-decoration: none;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
p:nth-last-child(1) {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button,
button:focus,
input:focus,
.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  outline: 0;
  box-shadow: none;

}
.btn {
  padding: 8px 15px;
  font-weight: 600;
}
.blue-btn {
  background-color: var(--primary-color);
  color: var(--white);
  font-size: var(--font-14);
}
.blue-btn:hover,
.border-btn:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}
.border-btn {
  border: 1px solid var(--secondary-color-blue);
  color: var(--secondary-color-blue);
  font-size: var(--font-14);
}
.btn-inactive,
.btn-inactive:hover {
  background: var(--light-font-color);
  color: var(--white);
  cursor: no-drop;
  font-size: var(--font-14);
}
:root {
  --primary-color: #0e0d32;
  --light-primary: #144D79;
  --secondary-color: #689737;
  --purple-color:#924AEF;
  --orange-color:#FF9325;
  --sky-blue:#5ECFFF;
  --light-secondary: #c7c6fe;
  --dark-font-color: #070619;
  --light-font-color: #83838c;
  --border-color: #E6E6E8;
  --white: #fff;
  --font-12: 12px;
  --font-14: 14px;
  --font-18: 18px;
  --font-24: 24px;
  --font-16: 16px;
}

/*Left Menu*/

.intersight_menu {

  background-color: #F8FAFB;
  padding: 10px;
  max-width: 264px;
  height: 100vh;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}
.top_menu {
  background: linear-gradient(180deg, #C6D7F4 0%, #FAD7DE 100%);
  padding: 16px;
  border-radius: 10px;
  height: 98vh;
}
.brand .brand-logo img {
  height: 39px;
}

.menu_div {
  margin-top: 25px;
}
.modalSize{
  width: 30%;
  margin-left: 500px;
  justify-content: center;
  align-items: center;
}
.menu_div li.without_label {
  font-size: 12px;
  font-weight: 600;
  color: #454545B2;
  text-transform: uppercase;
  padding: 25px 10px 10px;
}
.menu_div ul {
  list-style-type: none;
}
.menu_div li a {
  color: #000000;
  width: 100%;
  height: 36px;
  border-radius: 10px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 400;
}
/* .menu_div li a.active, */
.menu_div li a:hover {
  background: linear-gradient(180deg, #A0BDEE 0%, #EBB3BE 100%);
  color: var(--dark-font-color);
  font-weight: 500;
}
.menu_div li a.active svg path,
.menu_div li a:hover svg path {
  fill: var(--secondary-color-blue);
}
.menu_div li a span {
  position: relative;
  top: -1px;
}
.bottom_menu {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 10px;
}
.bottom_menu p {
  border-bottom: 1px solid #D9BEC6;
  padding: 0px 16px 16px;
  color: #454545;
}
.bottom_menu p a {
  color: #000000;
  font-weight: 600;
  line-height: 24px;
}
.user_person {
  padding: 0px 12px 0px;
}
.AClass{
  left:138px;
  position: absolute;
}
.bottom_menu .dropdown button {
  background: transparent;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  gap: 12px;
}
.bottom_menu .dropdown .dropdown-menu li .dropdown-item {
  color: #000;
  font-size: var(--font-14);
  padding: 4px 10px;
  display: block;
  height: auto;
}
.person_icon {
  background: #699640;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

input[type="radio"]{
  margin: 0 5px 0 5px;
}

input[type="checkbox"]{
  margin: 0 5px 0 5px;
}
.label-me{
  margin: 0px 10px 0px 2px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 15px;
  text-align: center;
  font-family: arial;
  /* height: 400px; */
}

.cart-btn{
  margin-bottom: 10px;

}

.pCard{
  margin: 10px;
}

.price {
  color: grey;
  font-size: 22px;
}


.card button {
  border: none;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.person_name span {
  font-size: 13px;
    color: #454545;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 150px;
}

@media (min-width: 1199px) {
  .navbar-toggler {
    display: none;
  }
}

.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 4px;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 8px;
}
.navbar-toggle .icon-bar {
  position: relative;
  transition: all 500ms ease-in-out;
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
  top: 6px;
  transform: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
  background-color: transparent;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
  top: 2px;
  transform: rotate(-45deg);
}

/*Shutter body*/
.body_content {
  padding: 0px 15px 15px;
}
.intersight_content {
  position: relative;
  width: calc(100% - 264px);
  margin-left: auto;
}
.top_header {
  margin-bottom: 35px;
  border-bottom: 1px solid var(--border-color);
  padding: 12px 0;
}
.top_header h1 {
  font-size: 20px;
  color: #070619;
  font-weight: 600;
  margin-bottom: 0;

}
.header-search input {
  color: #b5b4ba;
  border-color: var(--border-color);
  height: 36px;
  font-size: var(--font-14);
  background: #f2f2f3 url(../image/small_search.svg) no-repeat left 10px center;
  padding-left: 38px;
}
.header-search input::placeholder {
  color: #b5b4ba;
}
.header-search {
  max-width: 456px;
  width: 100%;
}
.header_icon {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px 7px;
  gap: 4px;
}
.header_icon p{
  font-size: 15px;
  font-weight: 500;
}
.notification_alert {
  background-color: #e20002;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 27px;
}
h2.body_heading {
  color: var(--dark-font-color);
  font-weight: 600;
  font-size: var(--font-18);
  margin-bottom: 15px;
}
.dashboard_box {
  border-radius: 4px;
  border: 1px solid var(--border-color);
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-20 {
  margin-top: 20px;
}
h2.body_heading a {
  font-size: var(--font-14);
  font-weight: 600;
  color: var(--secondary-color-blue);
}
.simler-company {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 40px;
}
.simler-company .simler-company-details {
  border-bottom: 1px solid var(--border-color);
  padding: 15px;
}
.company-logo-dropdown .company-dropdown {
  width: 50px;
  height: 50px;
  flex: 0 0 50px;
  border-radius: 4px;
  overflow: hidden;
}
.record label {
  font-size: var(--font-16);
  color: var(--dark-font-color);
  font-weight: 600;
}
.record label i {
  font-size: var(--font-12);
  color: var(--light-font-color);
  font-weight: 400;
  font-style: normal;
}
.record span {
  font-size: var(--font-14);
  color: var(--light-font-color);
}
.record label:hover a {
  color: var(--secondary-color-blue);
}
.simler-company-details.change-request .company-dropdown {
  background-color: #f2f2f3;
  border-radius: 50%;
}

/*Login signup*/
.inner_content_one h1 {
  color: var(--dark-font-color);
  text-align: center;
  font-size: var(--font-24);
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 5px;
}
.inner_content_one h2 {
  color: var(--dark-font-color);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}
.form_sec {
  max-width: 535px;
  margin: auto;
}
.form-label-custom {
  color: #3a3541;
  font-size: 15px;
  font-weight: 500;
}
.form-control-custom {
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  background: var(--white);
  height: 48px;
  font-size: 14px;
}
.password_svg svg {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
.remember_div .form-check .form-check-input {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  margin-top: 4px;
  margin-right: 10px;
  position: relative;
  top: -2px;
}
.remember_div .form-check-label {
  color: var(--Body-Color, #494454);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.link_forget {
  color: #5f76e8;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.gradient_bg {
  background-image: url(../image/bg-vecter.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}
.gradient_bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #C6D7F4 0%, #FAD7DE 100%);

  z-index: -1;
}
.inner_content_two {
  padding: 40px 33px 140px 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.heading_41 {
  color: var(--white);
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
}
.para_18 {
  font-size: var(--font-18);
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}
.forgot-password p {
  color: var(--light-font-color);
  font-size: var(--font-16);
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.link_forget {
  color: #5f76e8;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.logout-popup {
  padding: 30px 0px;
}
.logout-popup span {
  width: 70px;
  height: 70px;
  background: #f22020;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.logout-popup h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--dark-font-color);
  font-weight: 600;
}
.logout-popup p {
  font-size: 16px;
  color: var(--light-font-color);
}
.task_table .table thead {
  border-radius: 4px;
  background: #f5f5f5;
  color: #9f9ea6;
  border-radius: 4px;
}
.task_table .table thead tr th {
  border-bottom: transparent;
  font-weight: 400;
  padding: 0.8rem 0.5rem;
}
.task_table .table tbody tr td {
  color: var(--dark-font-color);
  font-weight: 500;
  vertical-align: middle;
  padding: 0.6rem 0.5rem;
}
.input_checkbox {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  top: 10px;
  margin-top: 0;
}
.input_checkbox:checked {
  background-color: #00c2a3;
  border-color: #00c2a3;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.status {
  background: #e2e2e4;
  padding: 6px 10px;
  border-radius: 30px;
  color: #83838c;
  display: inline-block;
}
.assigned-member {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.status.status_done {
  color: #155b51;
  background: #d5fbf5;
}
.action_btn {
  border: 1px solid #ddd;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 24px;
  border-radius: 4px;
}
.explore_filter img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.search_tab input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 28px;
  font-size: 12px;
  min-width: 250px;
  padding: 0px 0px 0px 30px;
}
.small_btn {
  font-size: 12px;
  padding: 4px 10px;
}

.brand button {
  font-size: var(--font-14);
  height: 46px;
  text-align: left;
  border-radius: 4px;
  background-color: var(--light-primary);
  color: var(--white);
  gap: 10px;
  position: relative;
}
.brand button span {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 4px 6px 0px #83838C05;

}
.brand button:after,
.bottom_menu .dropdown button:after {
  position: absolute;
    right: 5px;
    top: 12px;
}
.menu_div li a.active svg path,
.menu_div li a.active svg path, .menu_div li a:hover svg path {
  fill: #000000;
}
.opportunities-box {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  padding: 15px;
}
.opportunities-box .opportunities-icon {
  height: 32px;
  width: 32px;
  background: #e6e6e8;
  border-radius: 4px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opportunities-box p {
  font-size: 13px;
  color: var(--light-font-color);
  font-weight: 500;
}
.opportunities-box h4 {
  color: var(--dark-font-color);
  font-weight: 600;
  font-size: var(--font-16);
  margin-bottom: 0;
  margin-top: 3px;
}
h2.body_heading {
  color: var(--dark-font-color);
  font-weight: 600;
  font-size: var(--font-18);
  margin-bottom: 20px;
}
.body_heading.width-left-border {
  border-left: 3px solid #c7c6fe;
  padding-left: 10px;
  border-radius: 2px;
}
@media (min-width: 1200px) {
  .table-responsive {
    overflow-x: visible;
  }
}
.task_table .table thead {
  border-radius: var(--Medium, 4px);
  background: #f5f5f5;
  color: #9f9ea6;
  border-radius: 4px;
}
.task_table .table thead tr th {
  border-bottom: transparent;
  font-weight: 500;
  padding: 0.8rem 0.5rem;
}
.task_table .table tbody tr td {
  color: var(--dark-font-color);
  font-weight: 500;
  vertical-align: middle;
  padding: 0.8rem 0.5rem;
}
.company-logo-dropdown .dropdown button {
  background: transparent;
}
.company-logo-dropdown .dropdown button:after {
  display: none;
}
.company-logo-dropdown .dropdown-menu {
  border: none;
  border: none;
  min-width: 120px;
}
.company-logo-dropdown .dropdown-menu li a {
  padding: 4px 10px;
  font-weight: 500;
  font-size: var(--font-14);
}

.tags {
  background: #ddd;
  border-radius: 30px;
  padding: 4px 10px;
}
.awarded-tag {
  background: #e6e5ff;
}
.blue-btn {
  background-color: var(--secondary-color);
  color: var(--white);
  font-size: var(--font-14);
}
.small_btn {
  font-size: 12px;
  font-weight: 600;
  padding: 6px 12px;
}
.small_btn img {
  vertical-align: text-bottom;
}
.no-records p {
  color: var(--light-font-color);
  margin-top: 15px;
}
.no-records {
  padding-top: 30px !important;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
  }
}
.modal-title {
  font-size: var(--font-18);
}
.form-style .cancel {
  font-weight: 600;
  color: var(--dark-font-color);
  margin-right: 30px;
}
.form-style .blue-btn {
  width: 140px;
}
.font-14 {
  font-size: 14px;
  font-weight: 500;
}
.form-design label {
  color: var(--dark-font-color);
  margin-bottom: 7px;
}
.form-design label sup {
  color: #f00;
  font-size: 18px;
  top: 0;
}
.form-design input.form-control,
.form-design select {
  font-size: var(--font-14);
  font-weight: 500;
  height: 40px;
}
.form-design .form-group {
  margin-bottom: 15px;
}
.middle-heading h4 {
  color: var(--dark-font-color);
  font-weight: 600;
  font-size: var(--font-16);
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}
input.form-check-input {
  width: 18px;
  height: 18px;
}
label.form-check-label {
  vertical-align: middle;
  margin-left: 5px;
}
.calender-input img {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}
.calender-input input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.upload-photo {
  border: 1px solid #ddd;
  border-radius: 6px;
  height: 40px;
}
.upload-photo input {
  opacity: 0;
}
.upload-photo span {
  position: absolute;
  top: 8px;
  left: 10px;
  color: var(--light-font-color);
  pointer-events: none;
}

/*Tabs*/
.engage-tabs .nav {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 40px;
}
.engage-tabs .nav .nav-item .nav-link {
  color: var(--light-font-color);
  border-bottom: 3px solid transparent;
  border-radius: 0px;
  padding: 0px 12px 15px;
  margin-right: 10px;
  font-weight: 500;
}
.engage-tabs .nav .nav-item .nav-link.active {
  border-bottom: 3px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
}
.engage-tabs .nav .nav-item .nav-link.active svg path {
  fill: var(--secondary-color);
}
.engage-tabs .nav .nav-item .nav-link span {
  display: inline-block;
  margin-right: 7px;
}
.professional_info {
  background-color: #fff;
  border-radius: 10px;
overflow: hidden;
  box-shadow: 0px 4px 20px 0px #00000014;

}
.font-16 {
  font-size: var(--font-16);
  color: var(--dark-font-color);
  font-weight: 600;
}
.my-info span {
  font-size: 12px;
  font-weight: 500;
  color: var(--light-font-color);
  margin-bottom: 4px;
}
.my-info label {
  font-size: 13px;
  font-weight: 500;
  color: var(--dark-font-color);
  text-overflow: ellipsis;
  overflow: hidden;
}
.my-info {
  margin-top: 12px;
}

.address_list {
  padding: 20px 15px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.address_list h6 {
  font-weight: 600;
}
.address_list span {
  font-weight: 500;
  color: var(--light-font-color);
  font-size: 13px;
}
.additional_direction {
  margin-top: 15px;
}
.filter_option h6 {
  font-size: 15px;
  color: var(--light-font-color);
  margin-bottom: 15px;
}
.filter_option a {
  min-width: 80px;
  background: #f5f5f5;
  color: var(--light-font-color);
  font-size: var(--font-14);
  text-align: center;
  padding: 6px 12px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 3px;
}

.notes_card {
  background-color: #f7f7f8;
  border-radius: 4px;
  padding: 15px;
}
.notes_header span {
  color: var(--light-font-color);
  font-size: var(--font-12);
}
.notes_card,
.note_topic {
  background-color: #f7f7f8;
  border-radius: 8px;
  padding: 15px;
}
.pricing_terms {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.pricing_terms h6 {
  margin-top: 6px;
  font-size: var(--font-14);
  font-weight: 600;
  color: var(--dark-font-color);
  margin-bottom: 0px;
}
.note_topic p {
  font-weight: 500;
  margin-bottom: 0;
  color: var(--light-font-color);
  font-size: var(--font-12);
}
.border-btn {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  font-size: var(--font-14);
}
.notes_header .title-job span {
  line-height: 18px;
  display: block;
  margin-top: 5px;
}
.pricing_terms ul {
  padding-left: 20px;
  margin-top: 6px;
}
.pricing_terms ul li {
  font-size: 13px;
  font-weight: 500;
  color: var(--dark-font-color);
  line-height: 24px;
}
.attchment-file {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  text-align: center;
  line-height: 70px;
  margin-top: 10px;
}

/*Form Wizard*/
.bs-wizard {
  border-bottom: solid 1px #e0e0e0;
  padding: 0 0 10px 0;
}
.bs-wizard > .bs-wizard-step {
  padding: 0;
  position: relative;
}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #002a54;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 600;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {
  color: #999;
  font-size: 16px;
}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: var(--secondary-color);
  top: 15px;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
}
.bs-wizard > .bs-wizard-step > .progress {
  position: relative;
  border-radius: 0px;
  height: 2px;
  box-shadow: none;
  margin: 10px 0 15px;
}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
  width: 0px;
  box-shadow: none;
  background: var(--secondary-color);
}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
  width: 50%;
}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
  width: 0%;
}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
  width: 100%;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
  background-color: #d9d9d9;
}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
  opacity: 0;
}
.bs-wizard > .bs-wizard-step:first-child > .progress {
  left: 50%;
  width: 50%;
}
.bs-wizard > .bs-wizard-step:last-child > .progress {
  width: 50%;
}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
  pointer-events: none;
}
.bs-wizard > .bs-wizard-step a.bs-wizard-dot svg {
  position: relative;
  top: -2px;
}
.bs-wizard > .bs-wizard-step.complete a.bs-wizard-dot svg path {
  fill: #fff;
}
/*END Form Wizard*/
.custom-tooltip {
  --bs-tooltip-bg: var(--secondary-color);
}
.attchment-file:hover {
  background-color: #f5f5f5;
}
.filter_option a.active {
  background: var(--secondary-color);
  color: #fff;
}
.create_jobs {
  background-color: #f3f3f3;
  border-radius: 8px;
  height: 100%;
}
.create_jobs a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.create_jobs a span {
  font-size: var(--font-16);
  font-weight: 500;
  margin-top: 6px;
  color: var(--dark-font-color);
}
.engage-tabs ul li {
  line-height: 24px;
}
.create_jobs a:hover {
  background: #eeeeff;
  border-radius: 8px;
}

.new-job_list {
  padding: 20px 20px;
  background-color: #f5f5f5;
}

.new-job_list h6 {
  font-size: 12px;
  font-weight: 500;
  color: #83838c;
}
.new-job_list span {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
.engage-tabs .window-measurement-tabs .nav {
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 40px;
}
.engage-tabs .window-measurement-tabs .nav .nav-item .nav-link.active {
  border-bottom: 3px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: #fff;
}
.engage-tabs .window-measurement-tabs .nav .nav-item .nav-link {
  color: #000000;

  border-radius: 8px 8px 0px 0px;
  padding: 7px 15px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
.windowmodal-header {
  border-bottom: 0px;
}
.window-form-title h2 {
  font-size: 16px;
  font-weight: 600;
}
.window-form-title {
  border-bottom: 2px solid #e6e6e8;
}
.window-form-design input.form-control,
/* .form-design select {
  color: #aca9a9;
}
.window-form-design input.form-control::placeholder {
  color: #aca9a9;
} */
.label.form-check-label {
  color: black;
}
.window-modal .modal-footer {
  border-top: none;
}
.filter-btn {
  padding: 4px 6px 4px 6px;

  border-radius: 4px;
  border: 1px solid #e6e6e8;
  width: 175px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-btn:hover {
  border: 1px solid #e6e6e8;
}
.fltrimg {
      margin-right: 5px;
    position: relative;
    top: -1px;
}

.brand .dropdown .dropdown-toggle:after{display:none;}
.blue-outline-btn {
  border: 1px solid var(--secondary-color);
  color: #000;
}
.blue-outline-btn:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}
.living-room-window-table h2 {
  font-size: 16px;
  font-weight: 600;
}
.living-room-window-table {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 20px;
}
.living-room-window-table .table thead tr th {
  border-bottom: transparent;
  font-weight: 500;

  font-size: 14px;
}
.living-room-window-table .table thead {
  border-radius: var(--Medium, 4px);
  background: #f5f5f5;
  color: #9f9ea6;

  border-radius: 4px;
}
.living-room-window-table .table tbody tr td {
  color: var(--dark-font-color);
  font-weight: 500;
  vertical-align: middle;
  padding: 0.8rem 0.5rem;
}
.table-form-check-input:checked {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.table-form-check-input:checked[type="checkbox"] {
  background-image: url(../image/blackcheck.svg);
  background-size: 73%;
  background-position: center;
  background-repeat: no-repeat;
}
.table-form-check label {
  margin-left: 17px;
  font-size: 14px;
  font-weight: 500;
}
.table-photo img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.estimate-input input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 28px;
  font-size: 12px;
  min-width: 184px;
  padding: 13px;
}
.couponinput {
  border-radius: 8px;
  padding: 4px 5px 4px 8px;
  border: 1px solid #e5e5e5;
}
.couponinput input {
  border: none;
  font-size: 14px;
  font-weight: 500;
  min-width: 400px;
}
.price-content {
  display: flex;
  justify-content: end;
}
.adjust-pricing {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 14px;
}
.price-content h2 {
  font-weight: 600;
  color: #83838c;
}
.price-content span {
  font-weight: 600;
  color: #070619;
}
.price-content-inner {
  width: 40%;
}
.terms-content {
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  padding: 14px;
  min-height: 100px;
}

.terms-content P {
  font-weight: 500;
  color: #aca9a9;
  font-size: 13px;
}
.window-popup-table {
  border: none !important;
  padding: 0px;
}
.window-modal-footer {
  border-top: none !important;
}
.color-blue {
  color: #0F6CBD !important;
}
.couponapplied{
  margin-bottom: 17px;
}
.couponapplied h2 {
  color: #83838c;
}
.couponapplied input {
  border: 1px solid #e5e5e5;
  width: 401px;
  height: 38px;
  border-radius: 8px;
  padding-left: 14px;
}
.estimate-header{
  background-color: #0E0D32;
  padding: 11px 0px;

}
.estimate-header h2{
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 0px;
  color: #fff;
}
.cancelheader{
  color: #fff;
  margin-bottom: 0px;
  text-decoration: underline;
 
font-size: 14px;
font-weight: 600;


}
.header-body{
  padding: 0px 65px 0px;
}
.sharemodal {
  max-width: 400px;
}
.sharemodalcontent{
  padding: 18px 42px;
}
.sharemodalcontent img {

  margin-bottom: 26px;
}
.sharemodalcontent h2{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;  
  line-height: 28px;
}
.sharemodalcontent p{
font-family: "Inter", sans-serif;
font-size: 14px;
font-weight: 400;
color: #83838C;
line-height: 23px;

}
.blue-outline-btn2 {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.blue-outline-btn2:hover {
  background-color: var(--secondary-color);
  color: var(--white);
}
.sharelinkheader{
  border-bottom: none;
}
.company-logo-dropdown .dropdown-menu-big {
  border: none;
  border: none;
  min-width: 145px;
}
.border-top{
  border-top: 2px solid #E6E6E8;
}
.totalamountinput{
  width: 287px;
}
/* .jobscheduletable th:last-child, .table td:last-child {
  width: 20%;
} */
 .actionheading{
  width: 50%;

 }
 .actiondescription{
  width: 50%;
 }
.date-input-container {
  position: relative;
  /* display: inline-block; */
}



#customDateInput::placeholder {
  color: #999;
}

.calendar-icon {
  position: absolute;
  right: 10px;
  top: 72%;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px;
  cursor: pointer;
}


/* input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
} */
.color-grey{
  color: #83838C !important;
}

.w-70{
  width: 70%;
}
.font-18{
  font-size: var(--font-18);
}
.colors{
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
  width: 300px;
}
.color-item{
  background-color: #F5F5F5;
  border-radius: 8px;
  color: #676767;
  font-size: 13px;
  font-weight: 500;
  padding: 3px 17px;
display: flex;
align-items: center;

}
.color-item span{
  margin-left: 10px;
}
.optionmodal {
  max-width: 445px;
}
.red_btn{

  padding: 4px 15px;
  background-color: #FFE8E8;
  color: #E20002;
  font-size: 13px;
  font-weight: 400;
  border-radius: 8px;
}
.inactive{
  background-color: #D9D9D9;
  border-radius: 6px;
  color: #979797;

font-size: 14px;
font-weight: 500;
padding: 3px 10px;


}
.completed{
  background-color: #D2FFE1;
  border-radius: 6px;
  color: #13A10E;
  font-size: 14px;
font-weight: 500;
padding: 3px 10px;
}
.pending{
  background-color: #E4E3FF;
  border-radius: 6px;
  color: #4541FC;
  font-size: 14px;
font-weight: 500;
padding: 3px 10px;
}
.font-12{
  font-size: 12px;
  font-weight: 400;
}

.activegreen{
  background-color: #D1FFE0;
  color: #070619;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 18px;
}
.site-color{
  width: 31px;
height: 18px;
background-color: #FFE5A6;
border-radius: 6px;
}

.person-logo img{
height: 32px;
width: 32px;
border-radius: 6px;
}

.imagesec p{
 
  color: #83838C;
}
.colorfill {
  background-color: var(--secondary-color);
 border-radius: 8px;
  height: 28px;
}
.vendordetail{
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 20px;

}
.vendordetail h2{
  font-size: 16px;
  font-weight: 600;
}

.vdetaildata{
  border-bottom: 1px solid #DDDDDD;
  padding: 8px;
}
.vdetaildata h2{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
}
.vdetaildata p{
  color: #83838C;
  margin-bottom: 0;
}

.imageuploadsec{
  padding: 9px;
  border-radius: 8px;
  border: 2px dashed #DDDDDD
}
.upload-container {
  width: 150px;
  height: 150px;

  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: #F5F5F5;
}

.upload-container input[type="file"] {
  display: none;
}

.upload-container label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.gallery-icon img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: block;
}

.upload-container img.visible {
  display: block;
}

.gallery-icon.hidden {
  display: none;
}
/* 20 nov */
.custom-form-select{
  border: none;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 44px 0px 4px;
}
.custom-form-select-btn {
  padding: 4px 0px 4px 6px;
  border-radius: 4px;
  border: 1px solid #e6e6e8;
}
.calender-form {
  background-image: url(../image/downicon.svg);
  background-size: 8px 12px;
}

/* today */

.input-with-bg{background: #F8F8F8;}
.panel-card{border: 1px solid #DDDDDD;border-radius: 8px;}
.panel-head {background: #F5F5F5;border-radius: 8px 8px 0px 0px;padding: 15px;}
.panel-head h3{font-size: 16px;font-weight: 500;}
.panel-head p{ color: #83838C;}
.pannel-inner-content{padding: 10px 15px; border-bottom: 1px solid #DDDDDD;}
.pannel-inner-content p {font-size: 14px; font-weight: 400;color: #83838C;}
.pannel-inner-content:last-child {border-bottom: 0;}
.btn-print{background-color: #000;}
.login-right-heading{
font-weight: 600;
font-size: 36px;
line-height: 45px;
letter-spacing: 0%;
}

/* new bt css */
.green-filter{
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 6px;
}


.green-filter-btn{border: none;color: #fff;font-size: 16px;font-weight: 500; border-radius: 6px;width: auto;}
.green-filter-btn:hover{border: none;}
.body_heading2 {position: relative;padding-left: 15px;}
.body_heading2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  height: 29px;
  width: 4px;
  background-color: var(--purple-color);
}
.body_heading2.orange::before{background-color: var(--orange-color);}

.body-sub-heading span{color: #555555;font-weight: 400;}
.project-card-heading{border-bottom: 2px solid var(--border-color);
padding-bottom: 10px;
}
.project-progress .progress{height: 4px;background-color: #D9D9D9;}
.project-progress .progress-bar { background-color: var(--purple-color);}
.color-para{color: #555555;}
.project-bottom{padding: 13px 18px; background-color: #EEF4FF;}
.project-card-top{padding: 18px;}
.project-progress .progress-bar.orange{background-color: var(--orange-color);}
.project-detail-card-left{padding: 18px 30px;}
.list-btn{ border: none;font-size: 16px;font-weight: 500;color: #fff;background-color: var(--secondary-color);padding: 15px;width: 100%;border-radius: 10px;}
.list-btn.purple{background-color: var(--purple-color);}
.list-btn.sky-blue{background-color: var(--sky-blue);}
.list-data{padding-top: 20px;}
.list-data ul{list-style: none;}
.list-card{box-shadow: 0px 4px 4px 0px #00000008;padding: 18px;border-radius: 10px;background-color: #fff;}
.color-purple{color: var(--purple-color);}
.list-card-user-profile img{width: 35px;height: 35px;border-radius: 50%;}
.color-green{color: var(--secondary-color);}

/*20-02-2025*/

.offcanvas.offcanvas-end.task-details-popup{width: 500px;}
.task_info p{font-size: 15px;}
.task_attachment h6{font-size:14px;}
.attachment-file a{width: 50px;height: 50px;border-radius: 6px;padding: 10px;}
.people-name{width: 40px;height: 40px;border-radius: 50%;background: #C6D7F4;flex: 0 0 40px;display: flex;align-items: center;justify-content: center;font-size: 15px;font-weight: 500;line-height: 40px;}
.people-message h5{font-size: 14px;margin-bottom: 5px;}
.people-message h5 span, .people-message p{color:#555;}
.comments-people{padding-bottom: 10px;margin-bottom: 10px;}
.link_menu{color: var(--secondary-color);text-decoration: underline;}
.comment_post .modal-title{font-size: 16px !important;}
@media (min-width: 576px) {.modal-dialog.comment_post {max-width: 500px;} .task_delete{max-width: 500px;}}
.comment_post textarea{font-size:14px;}
.time-tracking .dropdown-menu{min-width: 425px;border-radius:10px;border:1px solid #ddd;box-shadow: 0 0px 15px rgba(0, 0, 0, .15) !important;overflow:hidden;}
.time-tracking button.green-filter-btn.show:before{content: '';position: fixed;background: rgb(0 0 0 / 60%);left: 0;top: 0;right: 0;bottom: 0;z-index: 1;}
.tracker_heading{background-color:#EEF4FF;padding:12px 15px;}
.tracker_heading h6{font-size: 14px;margin-bottom: 2px;}
.tracker_heading p{font-size: 13px;color: #555;}
.time_record h6{font-size: 14px;margin-bottom: 0px;}
.time_record span{font-size: 13px;color: #555;font-weight: 500;}
.time_start button{background: #689737;border-radius: 50%;width: 44px;height: 44px;padding: 0px;position: relative;    margin-bottom: 20px;}
.time_start button:hover{background: #466c1e;}
.time_start button:before{content: '';position: absolute;width: 54px;height: 54px;border: 1px solid #689737;border-radius: 50%;top: -6px;left: -6px;box-shadow: 0px 2px 3px rgb(0 0 0 / 52%);}
.tracker-selection{padding: 20px 15px 15px;}
.tracker-selection select{font-size: 14px;border: none;border-bottom: 1px solid #ddd;border-radius: 0px;}
.time_start button:focus{box-shadow: unset;}
.list-btn.blue {background-color: #144d79;}
.milestones{background: #f5f5f5;margin-bottom: 10px;padding: 10px 15px;}
.milestones.active{background: #FAD7DE url(../image/checked.png) no-repeat right 10px top 10px;padding: 10px 40px 10px 15px;}
.task_icon{width: 70px;height: 70px;background: linear-gradient(180deg, #C6D7F4 0%, #FAD7DE 100%);margin: 0 auto 25px;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
.task_message{margin-bottom: 25px;}
.task_message h4{font-size: 20px;margin-bottom: 4px;}
.task_message p{font-size: 15px;color: #555;}
.task_button-group button{min-width:112px;font-weight:500;}
.task_button-group button.border_btn{border: 2px solid #555;font-size: var(--font-14);padding: 7px 15px;margin-right: 10px;}
.task_delete_option{margin:25px 0px;}
.task_delete_option .btn-close{position: absolute;top: 15px;right: 15px;font-size: 12px;}
.task-create select, .task-create textarea{font-size:14px;}

.estimation .accordion-button:not(.collapsed){background-color:transparent;box-shadow:none;}
.estimation .accordion-item{border: none;margin-bottom: 20px;border-radius: 8px;box-shadow: 0px 2px 7px rgb(0 0 0 / 10%);}
.estimation .accordion-item .accordion-header{border-bottom:1px solid #ddd;}
.estimation .accordion-item .accordion-header .estimation-heading h5{color: #000229;font-size: 18px;margin-bottom: 5px;position:relative;}
.estimation .accordion-item .accordion-header .estimation-heading h5:before{content: '';position: absolute;left: -20px;height: 24px;width: 4px;background: #689737;top: -2px;}
.estimation .accordion-item .accordion-header .estimation-heading .creator span{color:#555;font-size:13px;}
.estimation .accordion-item .accordion-header .estimation-heading .creator span strong{color:#000229;font-weight:500;}
.estimation-body h5{text-transform: uppercase;font-size: 16px;margin-bottom: 15px;}
.estimation-body p{font-size:16px;color:#555;}
.estimation-body a{color:#0F6CBD;font-weight:500;text-decoration:underline;}
.refrence-website a{background: #f5f5f5;padding: 4px 6px;display: inline-block;border-radius: 4px;}
.send_estimation textarea{font-size:14px;}
.creator span{}