.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* 10:00 - 10:50 --> Counter app using react redux toolkit */

/* 1: 30 --> todo app or user add */

/* 5:36 ---> adding redux to priviout practice task */

/* 7: 00 ---> api integration using redux */



/* 11: 00 ---> api integration with thunk middleware */
/* 11: 35 --> break down the page in components */
/* 11: 50 --> show username of updated user using useSelector */
/* 1 : 30 ----> fetch api data in card */
/* 2 - 3 ---> UI improvement */
/* 4 - 45 ---> add avatar and fix delete Modal and show selected file with clear button functanality */
/* 7 ---> UI improvement */


/* 12 : 00 --> product api integration redux  */
/* 1 : 30 --> product card design and component rendring */